html, body {
    margin: 0;
    padding: 0;
    font-family: 'BIZ UDMincho', serif;
}

.container {
    display: grid;
    grid-template-areas:
    'sidebar header'
    'sidebar main';
    grid-template-columns: 1 4fr;
}

.sidebar {
    background-color: #f3d2c1;
    color: #001858;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 2rem;
    grid-area: sidebar;
}

.dashboard {
    display: flex;
    align-items: center;
}

.home, .profile, .messages, .history, 
.tasks, .communities {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


.settings, .support, .privacy {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.home, .settings {
    margin-top: 3rem;
}

h1, h2 {
    transition: .2s;
}

h1:hover, h2:hover, h2:hover, h2:hover, h2:hover, 
h2:hover, h2:hover, h2:hover, h2:hover, h2:hover {
   transform: scale(1.12);
   cursor: pointer;
}   

span {
    padding-right: 1rem;
    font-weight: 100px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    box-shadow: 2px 3px 5px 2px rgb(141, 141, 141);
    color: #001858;
}

.greeting {
    display: flex;
    align-items: center;
    grid-row: 2 / 3;
    margin-left: 2rem;
}

.name {
    margin-left: 20px;
}

#astronaut {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
}

#search {
    text-indent: 10px;
    height: 30px;
    flex: 1;
    border-radius: 30px;
    border:1px solid #001858;
    font-size: 16px;
    background-color: #eeeeee;
    font-family: 'BIZ UDMincho', serif;
}

#search:focus-within {
    box-shadow: 0px 0px 10px 3px #dcdcdc;
    outline: none;
}

#search::-webkit-search-cancel-button { 
    -webkit-appearance: none;
}

#icon-search:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .1s;
}

#icon-notification:hover {
    animation: shake .5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: rotate(0deg);}
    5% { transform: rotate(-4deg);}
    10% { transform: rotate(-8deg);}
    15% { transform: rotate(-4deg);} 
    20% { transform: rotate(0deg);}
    25% { transform: rotate(4deg);}
    30% { transform: rotate(8deg);}
    35% { transform: rotate(4deg);} 
    40% { transform: rotate(0deg);}
    45% { transform: rotate(-4deg);}
    50% { transform: rotate(-8deg);}
    55% { transform: rotate(-4deg);}
    60% { transform: rotate(0deg);}
    65% { transform: rotate(4deg);}
    70% { transform: rotate(8deg);}
    75% { transform: rotate(4deg);}
    80% { transform: rotate(0deg);}
    85% { transform: rotate(-4deg);}
    90% { transform: rotate(-8deg);}
    95% { transform: rotate(-4deg);}
    100% { transform: rotate(0deg);}
}


.account {
    font-size: 18px;
    grid-column: 3 / 4;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.account > p {
    margin-right: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    grid-column: 2 / 4;
}

button {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 2px solid #001858;
    background-color: #f582ae;
    cursor: pointer;
    animation: .5s;
    margin: 12px;
    color: #001858;
    font-family: 'BIZ UDMincho', serif;
}

button:hover {
    transform: 1.1;
    box-shadow: 0px 2px 2px 0px #000000;
}

button:focus {
    border: 2px solid rgb(131, 131, 131);
}

.main {
    display: grid;
    background-color: #fef6e4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-area: main;
}

.title {
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 25px;
    color: #001858;
}

.project-one {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-left: 8px solid #f582ae;
    margin-left: 30px;
    border-radius: 5%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 30px 0px 0px 30px;
    margin: 5px 30px 30px 30px;
    color: #001858;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    transition: .5s;
}

.project-two {
    background-color: white;
    border-left: 8px solid #f582ae;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 5%;
    padding: 30px 0px 0px 30px;
    margin: 5px 30px 30px 0px;
    color: #001858;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    transition: .5s;
}

.project-three {
    background-color: white;
    border-left: 8px solid #f582ae;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 30px;
    padding: 30px 0px 0px 30px;
    border-radius: 5%;
    margin: 0px 30px 30px 30px;
    color: #001858;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    transition: .5s;
}

.project-four {
    background-color: white;
    border-left: 8px solid #f582ae;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 5%;
    padding: 30px 0px 0px 30px;
    margin: 0px 30px 30px 0px;
    color: #001858;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    transition: .5s;
}

.project-one > h3, .project-two > h3, .project-three > h3, .project-four > h3 {
    font-size: 25px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 10px;
}

#paper, #sketchbook, #calculator, #form {
    display: flex;
    height: 250px;
    width: 250px;
    padding: 20px 0px 20px 0px;
}

.sub-announcements {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

.sub-title {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
    color: #001858;
}

.announcement-container {
    background-color: white;
    border-left: 8px solid #f582ae;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
    border-radius: 5%;
    margin: 5px 30px 30px 0px;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    color: #001858;
}

.maintenance, .community {
    border-bottom: 1px solid #b1b1b1;
}

.trending {
    margin-left: 10px;
    font-size: 25px;
}

.sub-trending {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    color: #001858;
}

.trending-container {
    border-radius: 5%;
    background-color: white;
    margin: 5px 30px 30px 0px;
    border-left: 8px solid #f582ae;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 4px 4px 2px rgb(175, 175, 175);
    padding: 20px 20px 6px 25px;
    min-width: 231px;
}

.profile-one, .profile-two, .profile-three, .profile-four {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
}

.profile-one, .profile-two, .profile-three {
    border-bottom: 1px solid rgb(151, 151, 151);
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.text-header {
    font-size: 20px;
    font-weight: bold;
}

#trending-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.project-one:hover, .project-two:hover, .project-three:hover, .project-four:hover{
    transform: scale(1.02);
}

a {
    color: #001858;
}

a:hover {
    cursor: pointer;
    color: #f582ae;
}